# Настройки приложения
APP_NAME=Example App
APP_VERSION=1.0.0
DEBUG=true

# База данных
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=wallet_service

# Логирование
LOG_LEVEL=INFO
